.list-item-inline{
  width: min-content;
  margin: 0 auto;
}
.journalist-list-item{
  margin: 0 auto;
  border: solid black 1px;
  border-radius: 12px;
  width: 25%;
}
.journalist-list-item:hover {
  background-color: rgba(108, 7, 133, 0.3);
}
.person-post{
  margin: 2% auto;
  border: solid white 1px;
  border-radius: 12px;
  padding: 2%;
  width: 77%;
}
.person-post:hover {
  background-color: rgba(108, 7, 133, 0.3);
}